a:hover {
  color: white;
}
/* header */
.main-header {
  width: 100%;
  background-color: #55f43c9c;
  padding: 8px 18px;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-brand {
  color: #093004;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 130px);
  vertical-align: middle;
}
.main-nav_items {
  margin: 10px;
  padding: 5px;
  list-style: none;
}

.main-nav_item {
  display: inline-block;
  color: blue;
  font-size: 18px;
  margin: 0 15px;
  text-decoration: none;
}
.main-nav_item a {
  text-decoration: none;
  color: #03420e;
  font-weight: bold;
  padding: 3px 0;
}
.main-nav_item a:hover,
.main-nav_item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav_item-cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}
.border {
  border: solid 3px black;
}
a.active {
  color: blue;
}
.heading-1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#taitle-id {
  height: 500px;
  width: 100%;
  background: url("freedom.png");
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.plan-taitel {
  color: #2ddf5c;
  text-align: center;
}
.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 15px;
  margin: 7px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.plan-price {
  color: #858585;
}
.plan-taitels {
  color: #0c4f1f;
}
.paln-heilight .plan-taitels {
  color: white;
}
.paln-heilight .plan-price {
  color: #0c4f1f;
}
.plan-heading {
  background: white;
  color: #19b84c;
  padding: 7px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  border-radius: 8px;
}
.paln-heilight {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  border-radius: 8px;
}
.plan-features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan-features li {
  margin: 8px 0;
}
.button {
  background: #0c4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0c4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
}
.button:hover,
.button:active {
  background: white;
  color: #0c4f1f;
}
.button:focus {
  outline: none;
}
#key-features .plan-taitel {
  color: white;
  margin: 32px;
}
#key-features {
  background-color: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}
.key-feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-feature {
  display: inline-block;
  width: 30%;
}
.key-image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}
.key-feature-paragraph {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  vertical-align: top;
}
/**footer **/
.main-footer {
  background: black;
  padding: 32px;
  margin-top: 30px;
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-link {
  display: inline-block;
  margin: 0 16px;
}
.footer-link a {
  color: white;
  text-decoration: none;
}
.footer-link a:hover,
.footer-link a:active {
  color: #ccc;
}
